nav.site-navigation
  .hamburger-menu.d-lg-none
    span
    span
    span
    span
  ul
    li
      a(data-scroll, href='index.pug#slider-section') Home
    li
      a(data-scroll, href='mentors.pug') Mentors
    li
      a(data-scroll, href='index.pug#about-section') Programs
    li
      a(data-scroll, href='offerings.pug') Offerings
    li
      a(data-scroll, href='portfolio.pug') Success Stories
    li
      a(data-scroll, href='partners.pug') Partners
    li
      a(data-scroll, href='apply.pug') Apply
    