@import "./mixins";
#slider-section{
  height: 40vh;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  &::before{
    background-color: rgba(14, 8, 31, .8);
    content: " ";
    width: 100%;
    height: 40vh;
    position: absolute;
    left: 0;
    top:0;
  }
  #info-container{
    position: absolute;
    color: white;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1{
      font-size: 50px;
    }

    h2{
      font-size: 60px;

      @include my_bp(sm){
        font-size: 80px;
      }
    }
  }

  img.slide{
    height: 100vh;
    width: auto;
    bottom: 60%;
    position: relative;

    @include my_bp(sm){
      height: auto;
      width: 100%;
    }
  }
}

#apply-section{
  ul>li{
    font-family: 'Raleway', sans-serif;
  }

  .apply{
    display: inline-block;
    padding: 10px;
    background: #00aef0;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    
    animation: 5s infinite btnWiggle ease-in-out;
  }

  @keyframes btnWiggle {
    0% {transform: translateX(0px) rotate(0deg);}
    2% {transform: translateX(-10px) rotate(-4deg);}
    3.5% {transform: translateX(10px) rotate(4deg);}
    5% {transform: translateX(0px) rotate(0deg);}
    100% {transform: translateX(0px) rotate(0deg);}
  }
}

#center-section{
  h3{
    font-family: 'Blinker', sans-serif;
    font-size: 20px;
    text-align:center;
    margin-top: 10px;
  }

  p{
    font-family: 'Blinker', sans-serif;
    text-align:center;
  }
}