@import "./mixins";
#slider-section{
  height: 100vh;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  &::before{
    background-color: rgba(14, 8, 31, .8);
    content: " ";
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    top:0;
  }
  #info-container{
    position: absolute;
    color: white;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1{
      font-size: 50px;
    }

    h2{
      font-size: 60px;

      @include my_bp(sm){
        font-size: 80px;
      }
    }
  }

  img.slide{
    height: 100vh;
    width: auto;

    @include my_bp(sm){
      height: auto;
      width: 100vw;
    }
  }
}

#ksection{

  .item{
    display: flex;
    flex-direction:column;
    align-items: center;
    padding: 40px 10px 40px 10px;
    margin-top: 10px;
    color: white;
    transition: all .6s cubic-bezier(.68,-.55,.265,1.55);
    cursor: pointer;

    &:hover{
      img{
        transform: scale(1.1);        
      }
    }
    

    @include my_bp(sm){
      margin: 0px;
    }

    &#one{
      background: #65a7df;
    }

    &#two{
      background: #82cc7c;
    }

    &#three{
      background: #6ba7b1;
    }

    img{
      width: 100px;
      transition: all .6s cubic-bezier(.68,-.55,.265,1.55);
    }

    h2{
      margin-top: 10px;
      font-size: 3rem;
      
      @include my_bp(sm){
        font-size: 2rem;
      }
    }

    .pointer {
      width: 150px;
      height: 40px;
      margin-top:10px;
      position: relative;
      background: white;
      color: black;
      font-weight: bold;
      border-right: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      font-family: 'Blinker', sans-serif;
      text-decoration: none;
      transition: all .6s cubic-bezier(.68,-.55,.265,1.55);
    

      &:hover{
        transform: translateX(5px);
      }

      &:before {
        content: "";
        position: absolute;
        right: -20px;
        bottom: 0;
        width: 0;
        height: 0;
        border-left: 20px solid white;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
      }
    }
  }
}

#count-section{

  .item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 3px solid #ccc;
    color: #ff9200;
    width: 250px;
    height: 250px;
    margin: 0 auto;
    margin-top: 10px;
    box-shadow: 1px 1px 5px rgba(0,0,0,.2);
    transition: all .6s cubic-bezier(.68,-.55,.265,1.55);
    cursor: pointer;

    &:hover{
      transform: scale(1.1);
    }

    @include my_bp(sm){
      margin-top: 0px;
    }
    
    h3{
      text-align: center;
      color: #906328;
    }
  }
}

#video{
  padding-bottom: 80px;

  .video-block{
    margin-top: 50px;
    display: inline-block;
    background: white;
    padding: 10px 10px 10px 10px;
    box-shadow: 1px 1px 3px #666;

    iframe{
      max-width: 100%;
    }

    img{
      
      width: 800px;
      max-width:100%;
    }
  }
}

#location{
  line-height: 0;
}