@import "./mixins";
#slider-section{
  height: 40vh;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  &::before{
    background-color: rgba(14, 8, 31, .8);
    content: " ";
    width: 100%;
    height: 40vh;
    position: absolute;
    left: 0;
    top:0;
  }
  #info-container{
    position: absolute;
    color: white;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1{
      font-size: 50px;
    }

    h2{
      font-size: 60px;

      @include my_bp(sm){
        font-size: 80px;
      }
    }
  }

  img.slide{
    height: 100vh;
    width: auto;

    @include my_bp(sm){
      height: auto;
      width: 100vw;
    }
  }
}

#mentors{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  .mentor-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    padding:10px;
    cursor: pointer;

    @include my_bp(sm){
      width: 25%;
    }

    img{
      width: 100%;
      filter: grayscale(100%);
      transition: all 200ms ease-in-out;

      &:hover{
        filter: grayscale(0%);
      }
    }

    h3{
      font-family: 'Blinker', sans-serif;
      font-size: 20px;
      text-align:center;
    }

    h4{
      font-family: 'Blinker', sans-serif;
      font-size: 18px;
      text-align:center;

    }
  }
  
}