@import "./mixins";
#slider-section{
  height: 40vh;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  &::before{
    background-color: rgba(14, 8, 31, .8);
    content: " ";
    width: 100%;
    height: 40vh;
    position: absolute;
    left: 0;
    top:0;
  }
  #info-container{
    position: absolute;
    color: white;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1{
      font-size: 50px;
    }

    h2{
      font-size: 60px;

      @include my_bp(sm){
        font-size: 80px;
      }
    }
  }

  img.slide{
    height: 100vh;
    width: auto;

    @include my_bp(sm){
      height: auto;
      width: 100%;
    }
  }
}

#partners-section{

  #partners{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    justify-content: start;
    margin: 0 auto;
    margin-top: 40px;

    .heading{
      width: 100%;
    }

    .partner-cover{
      width: 50%;
      padding:25px;
      cursor: pointer;
      position: relative;
      display: flex;

      @include my_bp(sm){
        width: 25%;
      }

      .partner-item{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        margin: 0px 0px 0px 0px;
        padding: 10px 5px 10px 5px;
        border-style: solid;
        border-width: 1px 1px 1px 1px;
        border-color: rgba(37,37,37,0.35);
        border-radius: 5px 5px 5px 5px;
        background-color: #ffffff;
        transition: all .3s ease-in-out;
        

        &:hover{
          border-color: rgba(37,37,37,0.5);
          box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.24);

          h3{
            color: #00aef0;
          }
        }


        .logo{
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          img{
            width: 100%;

          }
        }

        h3{
          font-family: 'Blinker', sans-serif;
          font-size: 20px;
          text-align:center;
          margin-top: 10px;
          transition: all .3s ease-in-out;

        }
      }
    }
  }
}