@import "./mixins";
#slider-section{
  height: 40vh;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  &::before{
    background-color: rgba(14, 8, 31, .8);
    content: " ";
    width: 100%;
    height: 40vh;
    position: absolute;
    left: 0;
    top:0;
  }
  #info-container{
    position: absolute;
    color: white;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1{
      font-size: 50px;
    }

    h2{
      font-size: 60px;

      @include my_bp(sm){
        font-size: 80px;
      }
    }
  }

  img.slide{
    height: 100vh;
    width: auto;

    @include my_bp(sm){
      height: auto;
      width: 100%;
    }
  }
}


#portfolio-section{

  ul{
    list-style: none;

    li{
      cursor: pointer;
      border: 1px solid #dadada;
      font-weight: 700;
      color: #5f5f5f;
      font-size: 16px;
      line-height: 40px;
      width: 12.5%;
      float:left;
      text-align: center;
      text-transform: capitalize;

      &.active{
        background: #5f5f5f;
        color: white;
      }
    }
  }

  #portfolios{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 40px;

    .portfolio-cover{
      width: 50%;
      padding:25px;
      cursor: pointer;
      position: relative;

      @include my_bp(sm){
        width: 33%;
      }

      .ribbon{
        position: absolute;
        min-width: 120px;
        font-family: 'Blinker', sans-serif;
        font-size: 12px;
        line-height: 35px;
        color: #fff;
        text-align: center;
        background-color: #00aef0;
        text-transform: capitalize;
        padding: 0 15px;
        z-index: 0;
        top: 17px;
        left: 15px;
        
        &:before{
          content: "";
          width: 8px;
          height: 8px;
          position: absolute;
          top: 0;
          right: -8px;
          background-color: #222;
        }

        &:after{
          content: "";
          display: block;
          width: 0;
          height: 0;
          border-left: 0 solid transparent;
          border-right: 8px solid transparent;
          border-top: 8px solid #00aef0;
          position: absolute;
          top: 0;
          right: -8px;
        }
        
      }
    
      .portfolio-item{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 15px;
        padding-top: 25px;
        box-shadow: 0 10px 27px 0 rgba(220,220,220,.5);

        .logo{
          border-radius: 50%;
          width: 125px;
          height: 125px;
          border: 1px solid #00aef0;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          img{
            width: 90%;
            border-radius: 50%;
          }
        }

        h3{
          font-family: 'Blinker', sans-serif;
          font-size: 20px;
          text-align:center;
          margin-top: 10px;
        }

        p{
          text-align:center;
        }
      }
    }
    
  }
}