doctype html
html(lang='en')
  include parts/header.pug
  link(rel="stylesheet", href="./css/apply.scss")
  body

    include parts/menu.pug

    section#slider-section
      img.slide(src="./img/apply.jpg")
      .container#info-container
        .row
          .col-sm-12
            h1 Apply Now

    section#apply-section.py-5
      .container 
        .row
          .col-sm-12
            p We intake startups for incubation program cohort based on every 3 month in each locations. Our application is open You can apply for our programs through our we f6s.com page
        .row
          .col-sm-12
            h3 Before you apply
            ul.pt-2
              li Your idea should be innovative and scalable 
              li Preference for startups who have registered as a Pvt. Ltd. company or a LLP.
              li Core team should have more than one founder.
              li State government grants will be conditional to approvals from the Executive Committee of KSUM.
              li At least one founder should be present in the incubator. No virtual program
            a.apply(href="https://www.f6s.com/ksum" targer="_blank") Apply Now
            

    section#center-section.pb-5
      .container
        .row
          .col-sm-12
            h2 Incubation Centers
          .col-sm-3
            .loc
              img(src="./img/tvm.jpg", alt="tvm")
              h3 Trivandrum
              p G3B, Thejaswini, Technopark Campus Trivandrum, Kerala 695581
          .col-sm-3
            .loc
              img(src="./img/kochi.jpg", alt="tvm")
              h3 Kochi
              p Kinfra Hi-Tech Park, Kalamassery, Kochi, Kerala 683503
          .col-sm-3
            .loc
              img(src="./img/calicut.jpg", alt="tvm")
              h3 Calicut
              p 2nd Floor, UL CyberPark, Nellikkode Kozhikode, Kerala 673008
          .col-sm-3
            .loc
              img(src="./img/kasargod.jpg", alt="tvm")
              h3 Kasaragod
              p District Panchayath, Near Civil Station, Kasaragod, Kerala 671123

    include parts/footer.pug
    script(src="./js/index.js")