doctype html
html(lang='en')
  include parts/header.pug
  link(rel="stylesheet", href="./css/home.scss")
  body

    include parts/menu.pug

    a.buttonDownload(onclick="a('event', 'install', {'event_category': 'Install','event_label': 'PWA Install'});") Install

    section#slider-section
      img.slide(src="./img/slider.jpg")
      .container#info-container
        .row
          .col-sm-12
            h1 India's First
            h2 Non-Academic 
            h2 Business Incubator

    section#about-section.section-content
      .container
        .row
          .col
            h3 About Us
            p.text-justify Kerala Startup Mission (KSUM) in partnership with Global Incubators & Accelerators, launched its new structured incubation program designed to provide a springboard to budding entrepreneurs in building scalable technology products and solutions. The new Incubation Program is ongoing in Trivandrum, Kochi and Calicut and is live at Kasargod. The startup founders can easily access to the Sector Experts & Business Mentors, Tailor made workshops, Industry and Investor networks of KSUM circles and are eligible for a variety of state and central Govt. schemes and grants.
    
    section#ksection
      .container
        .row
          .col-sm-4
            .item#one
              img(src="./img/flag.png")
              h2 K-Launchpad
              a.pointer(href="klaunchpad.pug") More Details
          .col-sm-4
            .item#two
              img(src="./img/rocket-ship.png")
              h2 K-Incubation
              a.pointer(href="kincubator.pug") More Details
          .col-sm-4
            .item#three
              img(src="./img/income.png")
              h2 K-Accelerator
              a.pointer(href="https://startupmission.kerala.gov.in/programs/k-accelerator/" target="_blank") More Details

    section#count-section.section-content
      .container
        .row
          .col-sm-3
            .item
              h2 150+
              h3 Startups Incubated
          .col-sm-3
            .item
              h2 20 mn+
              h3 Seed Fund
          .col-sm-3
            .item
              h2 150 Hrs
              h3 Mentoring
          .col-sm-3
            .item
              h2 20+
              h3 Accelerated

    section#video
      .row
        .col.text-center
          .video-block
            iframe(type='text/html' width='830' height='400' src='//www.youtube.com/embed/BvLus8SzyJE?autoplay=0' frameborder='0')


    section#location
      iframe(type='text/html' title="google maps" width='100%' height='400' frameborder="0" style="border:0" allowfullscreen src="https://www.google.com/maps/d/embed?mid=1i7Qwlruqv-MqZzaBsuQHla2FqPSjmMw2&hl=en")

    include parts/footer.pug

    script(src="./js/index.js")
    //- script(src="./js/home.js")
    script. 
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('/service-worker.js');
        });
      }   
