doctype html
html(lang='en')
  include parts/header.pug
  link(rel="stylesheet", href="./css/klaunch.scss")
  body

    include parts/menu.pug

    section#slider-section
      img.slide(src="./img/kinc.jpg")
      .container#info-container
        .row
          .col-sm-12
            h1 K-Incubation

    section.section-content
      .container
        .row
          .col-sm-12
            h4 About K-Incubation Program
            p K-Incubation program is a 18 month incubation program for early stage  startups. The program is based on a structured and tested process, where customized support optimizes development. The participants take part in a tailor-made development program, lending the tools necessary to verify and develop a strong and sustainable business model. KSUM also provides access to office space, strong community mentors, direct one‐to‐one assistance necessary and access learning platform.
            
        .row
          .col-sm-6
            h4 Locations
            ul
              li Trivandrum
              li Kochi
              li Kozhikode
          .col-sm-6
            h4 Startup Stage Focus
            ul
              li Idea
              li Proof of Concept
        .row
          .col-sm-6
            h4 Eligibility
            p The program is applicable for Startups, Entrepreneurs (individuals or teams) having technology based innovative idea that can be evolved as startup. Concept or idea stage Startups/innovators can join for the program
          .col-sm-6
            h4 Program Duration
            p The K-Incubation program will be for a period of 18 months. After 18 months startups will be graduated.
        .row
          .col-sm-6
            h4 Facility provided by the KSUM
            ul
              li Idea screening and refinement
              li Guided mentoring and coaching to make the idea bankable.
              li Technical assistance on concept development of prototype.
              li Progressive evaluation for graduation to next stage
              li Access to high speed internet.
              li Networking events and workshops.
              li Assistance in market analysis
              li Plug and Play office space
              li Mentors
              li Access to network
          .col-sm-6
            h4 Focused Domains
            ul
              li SAAS
              li Consumer Tech
              li Edu Tech
              li Deep Tech
              li Healthtech
              li Fintech
              li Travel
              li Platforms
              li Marketing &amp; CRM 
              li Analytics
              li Retail

    include parts/footer.pug
    script(src="./js/index.js")