doctype html
html(lang='en')
  include parts/header.pug
  link(rel="stylesheet", href="./css/mentors.scss")
  body

    include parts/menu.pug

    section#slider-section
      img.slide(src="./img/mentor.png")
      .container#info-container
        .row
          .col-sm-12
            h1 Our Mentors

    section#mentor-section.section-content
      .container
        .row
          #mentors(v-cloak)
            .mentor-item(v-for="(item, index) in mentors" :key="index")
              img(:src="item.image")
              .desc
                h3 {{item.name}}
                h4 {{item.designation}}, {{item.company}}      



    include parts/footer.pug
    script(src="./js/index.js")
    script(src="./js/mentors.js")

