doctype html
html(lang='en')
  include parts/header.pug
  link(rel="stylesheet", href="./css/offer.scss")
  body

    include parts/menu.pug

    section#slider-section
      img.slide(src="./img/offer.jpeg")
      .container#info-container
        .row
          .col-sm-12
            h1 Offerings

    section#offer-section.section-content
      .container
        .row
          #locs
            .loc_cover
              .loc
                img(src="./img/mentor.jpg", alt="tvm")
                h3 Mentoring
                p Kerala Startup Mission's Mentorship Program provides access to a variety of carefully curated entrepreneurs and experts from a wide range of industries.
            .loc_cover
              .loc
                img(src="./img/investor.jpg", alt="tvm")
                h3 Access to investors
                p 
            .loc_cover
              .loc
                img(src="./img/office.jpg", alt="tvm")
                h3 Plug and play Office space
                p 
            .loc_cover
              .loc
                img(src="./img/lab.jpg", alt="tvm")
                h3 Workshops 
                p Entrepreneur and startup focused workshops and programs covering strategy, funding, legal, sales, and more.

    include parts/footer.pug
    script(src="./js/index.js")