doctype html
html(lang='en')
  include parts/header.pug
  link(rel="stylesheet", href="./css/partners.scss")
  body

    include parts/menu.pug

    section#slider-section
      img.slide(src="./img/partners.jpg")
      .container#info-container
        .row
          .col-sm-12
            h1 Partners

    section#partners-section.section-content
      .container
          #partners(v-cloak v-for="(cat,ind) in categories" :key="ind")
            h3.heading {{cat.name}}
            .partner-cover(v-for="item in cat.partners")
              .partner-item
                .logo
                  img(:src="partners[item-1].image")
                h3 {{partners[item-1].name}}

    include parts/footer.pug
    script(src="./js/index.js")
    script(src="./js/partners.js")