doctype html
html(lang='en')
  include parts/header.pug
  link(rel="stylesheet", href="./css/portfolio.scss")
  body

    include parts/menu.pug

    section#slider-section
      img.slide(src="./img/sucess.jpg")
      .container#info-container
        .row
          .col-sm-12
            h1 Sucess Stories

    section#portfolio-section.section-content
      .container
        .row
          .col-sm-12
            ul
              li(:class="filter_cat=='all'?'active':''" v-on:click="filter_cat='all'") all
              li(v-for="(item,index) in categories" :key="index" v-text="item" v-on:click="filter_cat=item" :class="filter_cat==item?'active':''")

          #portfolios(v-cloak)
            .portfolio-cover(v-for="(item,index) in filtered" :key="index")
              .ribbon {{item.category}}
              .portfolio-item
                .logo
                  img(:src="item.image")
                h3 {{item.name}}
                p {{item.brief}}

    include parts/footer.pug
    script(src="./js/index.js")
    script(src="./js/portfolio.js")